* {
  box-sizing: border-box;
  /* Apply globally */
}

/* Define a root variables for colors */
:root {
  --light-background: #ac8558;
  --dark-background: #46301e;
  --light-color: #291a0e;
  --dark-color: #dfd1bc;
  --secondary: #C3904D
}

.light {
  background-color: var(--light-background);
  color: var(--light-color);
}

.dark {
  background-color: var(--dark-background);
  color: var(--dark-color);
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgba(255, 251, 219, 1);
}

::-webkit-scrollbar {
  width: 0.5vmax;
  height: 0.5vmax;
}

::-webkit-scrollbar-thumb {
  background: var(--light-color);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

header {
  overflow: hidden;
  color: var(--light-color);
  background: var(--light-background);
  background: linear-gradient(0deg,
      var(--light-background) 0%,
      var(--dark-color) 100%);
}

/*Header Container*/
.hc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 94vh;
}

/*Header Flex*/
.hf1,
.hf3 {
  width: 49vw;
  flex: 1 1 100%;
}

.hf2 {
  flex: 1 1 50%;
}

.hf3 {
  display: flex;
  align-items: center;
}

/* Layout for larger screens */
@media (min-aspect-ratio: 1/1) {
  .hc {
    flex-direction: column;
  }

  .hf1,
  .hf2,
  .hf3 {
    flex: 1 1 50%;
  }
  
}

/*Header Item*/
.hi {
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 12vmin;
  padding: 1vw;
  text-align: center;
  background: url("../imgs/close-up-coffee-beans.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0.5vmax 1vmax rgba(0, 0, 0, 0.5));
}

.subtitle {
  text-align: center;
  color: var(--dark-color);
  font-size: 3.5vw;
  text-shadow: 0 0.5vmax 1vmax rgba(0, 0, 0, 0.5);
}

.titleImg {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 3vmin;
  z-index: 2;
  transform: translate(-4vmin, 0vw);
}

.vapor {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -80%);
  transition: ease-in-out 0.4s;
}

.imgWraper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vmin;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.cup {
  transition: ease-in-out 0.4s;
  filter: drop-shadow(0 0.3vw 0.1vw rgba(0, 0, 0, 0.5));
}

.cup:hover {
  filter: drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.5));
  transform: translate(-4vmin, -1vw);
}
.cup:hover ~ .vapor {
  transform: translate(-50%, -85%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 6vh;
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-background);
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  font-size: 2vh;
  display: block;
  color: var(--light-color);
  text-align: center;
  padding: 2vh;
  text-decoration: none;
}

.offer {
  margin: 0;
  padding: 0;
  height: 20vh;
  line-height: 20vh;
  padding: 0;
  background-image: url(../imgs/CoffeeHand.jpg);
  background-position: center;
  background-size: cover;
}

.flexC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
}

.flexC>* {
  flex: 1 1 auto;
}

.flexR {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.flexR>* {
  flex: 0 0 auto;
}

.flexI {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  overflow: hidden;
}

main>.flexC {
  height: 60vh;
}

main p {
  font-size: 2vw;
  padding: 0 4vw;
  margin: 0;
}

.img {
  object-fit: scale-down;
  padding: 3vw;
  max-height: 100%;
  filter: drop-shadow(0vw 0.5vw 0.5vw rgba(0, 0, 0, 0.25));
}

.dark .img {
  filter: drop-shadow(0vw 0.5vw 0.5vw rgba(0, 0, 0, 0.5));
}

.rScroll {
  animation: transform ease-in forwards;
  animation-timeline: view(80vh 5vh);
  transform: translateX(50vw);
  opacity: 0.5;
}

.lScroll {
  animation: transform ease-in forwards;
  animation-timeline: view(80vh 5vh);
  transform: translateX(-50vw);
  opacity: 0.5;
}

@keyframes transform {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

footer {
  height: 20vh;
}

footer p {
  font-size: 1.2vw;
}

footer a {
  text-decoration: none;
  color: color-mix(in srgb, var(--dark-color) 50%, transparent);
}

footer a:hover {
  color: var(--dark-color);
}

hr {
  border-style: none;
  border-top: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 80%;
  margin: 0px;
  margin-bottom: 1vw;
}

footer a:link,
footer a:visited {
  text-decoration: none;
}

footer h3 {
  font-size: 2vw;
  margin: 0;
}

.button:link,
.button:visited {
  text-decoration: none;
}

.button {
  width: fit-content;
  height: fit-content;
  flex: 0;
  padding: 1.2vmax;
  border: 0.2vmax solid var(--dark-color);
  color: var(--dark-color);
  transition-duration: 0.3s;
  border-radius: 1vmax;
  font-size: 1.5vmax;
  box-shadow: 0vw 0.5vmax 1vmax 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: var(--secondary);
  box-shadow: 0vw 0.2vmax 1vmax 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color: var(--light-color);
  border: 0.2vmax solid var(--secondary);
}

.button:active {
  background-color: var(--dark-background);
  transition-duration: 150ms;
  box-shadow: 0vw 0.2vmax 0.5vmax 0 rgba(0, 0, 0, 0.5) inset;
  transform: scale(1);
}